nav {
    background-color: black;
  }
  
  a {
    color: white;
  }
  
  a:hover {
    cursor: pointer;
    color: orange;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }
  
  li {
    list-style-type: none;
    line-height: 2rem;
    font-size: 1.25rem;
  }